[Desktop Entry]
Name=UBtappd
Exec=webapp-container --webappUrlPatterns=https://www.untappd.com,https://untappd.akamaized.net https://www.untappd.com
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
